<section id="cd-intro">
	<div id="cd-intro-background"></div>
	<div id="cd-intro-tagline">
		<h1>Hello world</h1>
	</div>	
</section>

<main class="cd-content">
	<div class="cd-container">
		<h1>This is the title</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipisci excepturi dolorum, quod libero distinctio vitae ea sint labore veritatis atque placeat, minima, et ipsam, dolore earum a aut nesciunt?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, debitis sit magni consequatur iste enim commodi, quod molestias accusamus explicabo natus, ullam culpa distinctio? Minus, vitae, qui? Repellendus expedita totam suscipit labore molestiae omnis, culpa debitis cum eos asperiores, nostrum aliquid, commodi rem quis ipsum et aspernatur, numquam quidem blanditiis delectus quos ullam corporis voluptatem ab laborum! Quaerat voluptatum consequatur quo. Eveniet architecto magnam explicabo ab ea, recusandae in! Itaque animi iste eligendi iusto consequatur voluptates maxime, autem asperiores et, excepturi ipsa cupiditate alias odio! Mollitia aliquam praesentium, nisi ipsam inventore molestias recusandae provident maiores necessitatibus repudiandae rerum temporibus velit minus tenetur. Eius adipisci aliquid error laudantium beatae dicta nulla voluptatem, numquam quidem, ea aperiam et tenetur dolore aliquam culpa ullam illo possimus mollitia eveniet est esse sint quae voluptatum laborum! Magni labore mollitia fuga architecto veritatis asperiores voluptas neque, nisi corrupti itaque voluptatum ut nobis. Vero ex soluta rerum accusamus ipsam, ullam? Pariatur nesciunt itaque doloribus esse, in perferendis sit modi sequi nemo, eaque nulla deserunt atque blanditiis quaerat culpa doloremque vero. Tenetur tempora sequi doloremque sint nesciunt nam eius delectus corrupti minima asperiores eum quibusdam qui incidunt quia impedit esse reiciendis numquam, error, aspernatur voluptatum, porro animi quis.</p>		
	</div>
</main>

<main class="cd-content">
	<div class="cd-contact">
		<section id="portfolio">
		        <div class="container-fluid">
		            <div class="gallery">
		                <div class="col-lg-4 col-sm-6">
		                    <a href="images/1.jpg">
		                        <img src="1.jpg" class="img-responsive" alt="image1">
		                    </a>
		                </div>
		                <div class="col-lg-4 col-sm-6">
		                    <a href="images/2.jpg">
		                        <img src="2.jpg" class="img-responsive" alt="image2">
		                    </a>
		                </div>
		                <div class="col-lg-4 col-sm-6">
		                    <a href="imgage/3.jpg">
		                        <img src="3.jpg" class="img-responsive" alt="image3">
		                    </a>
		                </div>
		                <div class="col-lg-4 col-sm-6">
		                    <a href="imgage/4.jpg">
		                        <img src="4.jpg" class="img-responsive" alt="image4">		                       
		                    </a>
		                </div>
		                <div class="col-lg-4 col-sm-6">
		                    <a href="image/5.jpg">
		                        <img src="5.jpg" class="img-responsive" alt="image5">		                        
		                    </a>
		                </div>
		                <div class="col-lg-4 col-sm-6">
		                    <a href="image/6.jpg">
		                        <img src="6.jpg" class="img-responsive" alt="image6">
		                    </a>
		                </div>
		            </div>
		        </div>
	    </section>
	</div>
</main>  
 
	<main class="cd-content">
	    <div class="cd-contact">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipisci excepturi dolorum, quod libero distinctio vitae ea sint labore veritatis atque placeat, minima, et ipsam, dolore earum a aut nesciunt?</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="email-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">liveorganic.com</a></p>
                </div>
            </div>
        </div>
    </main>